/* Creator: Mirza Mohibul Hasan */

/* Universal */
* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

/* Header Styles */
/* Header Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 150px 15px 120px;
}

.nav-title {
    font-weight: 700;
    font-size: 35px;
    font-style: italic;
}

.nav-title-color {
    color: #F15B22;
}

.nav-links {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav li a {
    text-decoration: none;
    color: #151414;
}

nav li a:hover {
    color: #F15B22;
}

/* Header banner */
.banner {
    background-image: url("../images/banner/banner2.png");
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-contents {
    text-align: right;
    width: 40%;
    margin-right: 10%;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-bottom: 24px;
}

.banner-descriptions {
    font-size: 16px;
    color: #444343;
    margin-bottom: 32px;
}

.banner-button {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 26px;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
}

/* Main Styles */
/* Failure and Success Section */
.failure-success-section {
    display: flex;
    align-items: center;
    width: 70%;
    gap: 100px;
    margin: 130px auto 0;
}

.failure-success-image {
    flex: 1;
}

.failure-success-contents {
    flex: 1;
}

.failure-success-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    width: 70%;
    margin-bottom: 24px;
}

.failure-success-description {
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
    width: 100%;
    line-height: 24px;
}

.failure-success-list {
    list-style: none;
    line-height: 24px;
}

.failure-success-list li i {
    color: rgb(5, 241, 5);
}

/* Plans Styles */
.my-plans {
    display: flex;
    justify-content: center;
    width: 67%;
    margin: auto;
    text-align: center;
    margin-top: 130px;
    align-items: center;
}

.my-plans-title {
    font-weight: 800;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}

.my-plans-elements {
    display: flex;
    text-align: center;
    gap: 86px;
}

.plan-heading {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin: 10px auto 7px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* Call Section Style */
.call-section-container {
    /* background-image: url("../images/watch.png"), url("../images/gradient1.png"); */
    background-image: url("../images/watch.png"), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    margin-top: 130px;
    margin-bottom: 130px;
}

.call-section-items {
    text-align: left;
    padding: 58px 0 58px 64px;
    width: 40%;
}

.call-section-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.call-section-button {
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    padding: 21px 36px;
    border-radius: 6px;
    border: none;
}

/* Styles for footer */
.footer {
    margin-top: 130px;
    background: #151414;
    width: 80%;
    height: 250px;
    display: flex;
    padding: 130px 230px;
    gap: 150px;
    margin: auto;
    justify-content: space-around;
}

.future {
    flex: 1;
}

.subscribe {
    flex: 1;
}

/* Footer contact*/
.future-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.future-description {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 22px;
    margin-bottom: 24px;
}

.contact {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 26px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    list-style: none;
    gap: 10px;
}

.subscribe-title {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

/* Footer Subscribe */
.email-form {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #F3F3F3;
    padding: 15px 50px 15px 10px;
    margin-bottom: 20px;
    color: #FFFFFF;
    width: 50%;
}

.subscribe-button {
    color: #F15B22;
    text-align: center;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}